<a href="https://colab.research.google.com/github/adoroodchi/ITCS-5156/blob/main/hyperparameters_final_project_5156.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
FIRST_NAME = "Ali"
LAST_NAME = "Doroodchi"
STUDENT_ID = "800910689"

In [ ]:
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('Quarry_Bay.csv')
df

,Unnamed: 0,RP,GFA,AGE,ZZ,FL,FR,ROOF,CP,MTR,E,S,W,N,NE,SE,SW,NW
0,0,17.230,2823,2.84658,8035.89534,50,0,0,3,1,1,0,0,0,0,0,0,0
1,1,19.041,1843,2.84658,5246.24694,52,0,0,3,1,0,0,0,0,1,0,0,0
2,2,16.043,1784,2.84932,5083.18688,57,0,0,3,1,0,0,0,1,0,0,0,0
3,3,6.063,1234,12.48493,15406.40362,32,0,0,1,0,0,0,1,0,0,0,0,0
4,4,3.506,647,12.46301,8063.56747,30,0,0,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24931,24312,3.236,748,34.93973,26134.91804,27,0,0,0,0,0,0,0,0,0,0,1,0
24932,24313,2.821,597,36.13425,21572.14725,3,0,0,0,1,0,0,1,0,0,0,0,0
24933,24314,3.620,675,38.91781,26269.52175,16,0,0,0,1,0,0,1,0,0,0,0,0
24934,24315,4.428,853,42.65753,36386.87309,12,0,0,0,1,0,0,1,0,0,0,0,0
24935,24316,3.373,746,34.24658,25547.94868,9,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
# MLP Regressor Hyperparameters
from sklearn.model_selection import train_test_split
X = df.drop(columns=['RP'])
y = df['RP']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import warnings


warnings.filterwarnings("ignore")

mlp = MLPRegressor()
mlp_reg = MLPRegressor(hidden_layer_sizes=(50, 50), max_iter=500, random_state=42)

param_grid = {
    'hidden_layer_sizes': [(100,)],  # Single hidden layer with 100 neurons
    'activation': ['relu'],          # ReLU activation function
    'learning_rate': ['constant', 'adaptive'],
    'max_iter': [100],               # Increased max iterations
}

grid_search = GridSearchCV(mlp_reg, param_grid=param_grid, cv=5, verbose=1)
grid_search.fit(X_train_scaled, y_train)

print("Best params:", grid_search.best_params_)

best_model = grid_search.best_estimator_
test_score = best_model.score(X_test_scaled, y_test)
print("Test score:", test_score)

Fitting 5 folds for each of 2 candidates, totalling 10 fits
Best params: {'activation': 'relu', 'hidden_layer_sizes': (100,), 'learning_rate': 'constant', 'max_iter': 100}
Test score: 0.9204505945669197

In [ ]:
# Random Forest Regression with Hyperparameters
import pandas as pd
from pandas.plotting import scatter_matrix
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt
import numpy as np

df_rf = pd.read_csv('Quarry_Bay.csv')
df_rf

,Unnamed: 0,RP,GFA,AGE,ZZ,FL,FR,ROOF,CP,MTR,E,S,W,N,NE,SE,SW,NW
0,0,17.230,2823,2.84658,8035.89534,50,0,0,3,1,1,0,0,0,0,0,0,0
1,1,19.041,1843,2.84658,5246.24694,52,0,0,3,1,0,0,0,0,1,0,0,0
2,2,16.043,1784,2.84932,5083.18688,57,0,0,3,1,0,0,0,1,0,0,0,0
3,3,6.063,1234,12.48493,15406.40362,32,0,0,1,0,0,0,1,0,0,0,0,0
4,4,3.506,647,12.46301,8063.56747,30,0,0,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24931,24312,3.236,748,34.93973,26134.91804,27,0,0,0,0,0,0,0,0,0,0,1,0
24932,24313,2.821,597,36.13425,21572.14725,3,0,0,0,1,0,0,1,0,0,0,0,0
24933,24314,3.620,675,38.91781,26269.52175,16,0,0,0,1,0,0,1,0,0,0,0,0
24934,24315,4.428,853,42.65753,36386.87309,12,0,0,0,1,0,0,1,0,0,0,0,0
24935,24316,3.373,746,34.24658,25547.94868,9,0,0,0,0,0,0,0,0,0,0,0,1

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
X = df_rf.drop(columns=['RP'])
y = df_rf['RP']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10],
    'min_samples_split': [2, 5],
    'min_samples_leaf': [1]
}

rf_reg = RandomForestRegressor(random_state=42)
grid_search = GridSearchCV(estimator=rf_reg, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train_scaled, y_train)

print("Best params:", grid_search.best_params_)

best_model = grid_search.best_estimator_
test_score = best_model.score(X_test_scaled, y_test)
print("Test score:", test_score)

Best params: {'max_depth': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'n_estimators': 300}
Test score: 0.9292041047364016

In [ ]:
 # SVR with Hyperparameters
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.svm import SVR

#Read paper data into df
df_svr = pd.read_csv('Quarry_Bay.csv')
df_svr

X = df_svr.drop(columns=['RP'])
y = df_svr['RP']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

svr_reg = SVR(kernel='linear')

param_grid = {
    'kernel': ['linear'],
    'C': [0.1, 1],
    'epsilon': [0.1],
    'gamma': ['scale']
}

grid_search = GridSearchCV(estimator=svr_reg, param_grid=param_grid, cv=5, scoring='neg_mean_squared_error', verbose=1)

grid_search.fit(X_train_scaled, y_train)

print("Best params:", grid_search.best_params_)

best_model = grid_search.best_estimator_
test_score = best_model.score(X_test_scaled, y_test)
print("Test score:", test_score)

#best_params = grid_search.best_params_
#print("Best hyperparameters:", best_params)

#best_svr = SVR(**best_params)
#best_svr.fit(X_train_scaled, y_train)

# Evaluate the model
#train_score = best_svr.score(X_train_scaled, y_train)
#test_score = best_svr.score(X_test_scaled, y_test)
#print("Train R-squared:", train_score)
#print("Test R-squared:", test_score)